@use 'bootstrap';

.admin-tabs .nav-link.active {
  color: #fff !important;

}

.nav-tabs {
  border-bottom: 1px solid rgba(255, 255, 255, 0.808);
}

.nav-tabs .nav-link {
  color: bootstrap.$primary;
}

.nav-tabs .nav-link.active {
  color: bootstrap.$primary;
  border-color: rgba(255, 255, 255, 0.808) rgba(255, 255, 255, 0.808) transparent;
}

.nav-tabs .nav-link:hover {
  color: bootstrap.$primary;
}

td {
  white-space: nowrap;
}
th {
  white-space: nowrap;
}

.filter-toggle {
  min-width: 160px;
  text-align: left;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 700px) {
  .filter-toggle {
    width: 100% !important;
  }
}


.filter-menu {
  background: #222 !important;

  .dropdown-item {
    color: #fff !important;

    &:hover,
    &.active {
      background: bootstrap.$primary !important;
      color: #fff !important;
    }
  }

  .filter-dropdown {
    display: inline-block;

    .dropdown-toggle {
      text-align: left;
    }

    .dropdown-menu {
      min-width: 100%;
    }
  }
}

.fc .fc-daygrid-event.fc-custom-event {
  background-color: bootstrap.$primary;
  border: none;
  color: white;
  font-weight: 500;
  border-radius: 0px;
  padding: 2px 4px;
}

.fc .fc-daygrid-event.fc-custom-event:hover {
  background-color: #e67e00;
  cursor: pointer;
}
.fc .fc-toolbar-title {
  color: bootstrap.$primary;
  font-weight: bold;
}

.fc .fc-button {
  background: transparent;
  border: 1px solid white;
  color: white;
}

.fc .fc-button:hover {
  background: bootstrap.$secondary;
  border: 1px solid white;
  color: white;
}