@use 'bootstrap';


.start-page-bg {
  min-height: 80vh;
  background-image: url('/images/lift-front.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.about-page {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgb(41, 41, 41) 95%),
    url('/images/borg.jpg');
  background-size: cover;
  background-position: center;
  min-height: 100vh;
}

.products-page {
  background: url('/images/lift-bg.jpg');
  background-size: cover;
  background-position: center;
  min-height: 30rem;
}