@use 'bootstrap';
header {

    position: relative;
    border-bottom: 1px solid bootstrap.$primary;

    h1 {
        margin: 0;
        font-size: 3rem;
        color: bootstrap.$primary;
    }

}

header nav a.active {
    font-weight: bold;
    font-size: 2rem;
}

nav {
    a {
        color: bootstrap.$primary;
    }
}

.container {
    padding: 0px;
    margin-right: auto;
    margin-left: auto;
}

.navbar {
    padding-bottom: 0px;
}

.navbar-nav {

    .nav-link {
        color: bootstrap.$primary;
        font-weight: 500;
        padding: 0.75rem 2rem;
        font-size: 1rem;
        transition: background-color 0.2s ease;

        &.active {
            background: linear-gradient(90deg, rgba(209, 75, 41, 0) 0%, rgb(201, 69, 36) 100%);
            color: bootstrap.$secondary;
        }
    }
}

.navbar-collapse {
    text-align: end;
    background: bootstrap.$secondary;
    z-index: 1050;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;

    .nav-link {
        border-bottom: 1px solid bootstrap.$primary;

       
    }
}


@media (min-width: 992px) {
    .navbar-collapse {
        position: static;
        background: none;
        text-align: start;

        .nav-link {
            border-bottom: none;
            color: bootstrap.$primary;
            font-weight: 500;
            font-size: 1rem;
            transition: background-color 0.2s ease;

            &.active {
                background: bootstrap.$primary;
                color: bootstrap.$secondary;    
            }
        }
    }
}