
.products-page {
  background: url('/images/lift-bg.jpg');
  background-size: cover;
  background-position: center;
  min-height: 30rem;
}

.product-header {
  background-image: linear-gradient(to right,rgb(201, 69, 36) 50%, rgba(201, 69, 36, 0.849) 100%, transparent 100%),
    url('/images/lift-hd.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}